<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to the Home Page!</title>
    </head>
    <body>
        <h1>{{ controller_name }}</h1>
        <p>Welcome to your new Symfony application.</p>
    </body>
</html>
